<div class="row" style="margin-left: 15px;">
    <div class="col-4" style="margin-bottom: 15px;">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="client.clientName">
            <label for="inputtext">Client Name</label>
        </span>
    </div>
    <div class="col-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="client.clientCode">
            <label for="inputtext">Client Code</label>
        </span>
    </div>
    <div class="col-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="client.address">
            <label for="inputtext">Client Address</label>
        </span>
    </div>
    <div class="col-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="client.phone">
            <label for="inputtext">Client Phone</label>
        </span>
    </div>
    <div class="col-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="client.email">
            <label for="inputtext">Client Email</label>
        </span>
    </div>
    <div class="col-4">
        <p-dropdown [options]="organizations" [(ngModel)]="client.organizationId" placeholder="Organization Name"
            optionLabel="organizationName" optionValue="id">
        </p-dropdown>
    </div><br>
    <div class="col" style="margin-top: 15px;">
        <span class="p-field-radiobutton">
            <p-radioButton name="Male" value="Male" [(ngModel)]="client.gender" inputId="Male"></p-radioButton>
            <label  for="Male" >Male</label>
        </span>&nbsp;&nbsp;
        <span class="p-field-radiobutton">
            <p-radioButton name="Female" value="Female" [(ngModel)]="client.gender" inputId="Female"></p-radioButton>
            <label for="Female">Female</label>
        </span>
    </div>
    <div class="col" style="margin-top: 15px;">
        <button class="btn btn-success" style="width:40%;margin-left: -35%;" (click)="saveClientToDB()">Save</button>
    </div>
</div>
