
<div class="container">
<h2>Assign Request</h2>
<div class="row">
    <div class="col">
        <label class="labelstyle">Position Name</label>
        <select [(ngModel)]="assignedReqObj.projectPositionId" name="sel2" class="form-control"
        (change)="getTeamsByPositionId(($event.target.value))">
            <option *ngFor="let th of lstProjectPosition" value="{{th.id}}">{{th.positionName}}</option>
        </select>
    </div>

    <div class="col">
        <label class="labelstyle">Select Team Name</label>
        <select [(ngModel)]="assignedReqObj.teamId" name="sel2" class="form-control"  (change)="getEmp(($event.target.value))">
            <option *ngFor="let th of lstProjectTeamAfterFilterBasedOnPosition" value="{{th.teamId}}">{{th.teamName}}</option>
        </select>
    </div>
    <div class="col">
        <label class="labelstyle">Select Employee Name</label>
        <select [(ngModel)]="assignedReqObj.employeeId" name="sel2" class="form-control" (change)="getEmpId(($event.target.value))">
            <option *ngFor="let th of lstProjectTeamAfterFiltration" value="{{th.employeeId}}">{{th.employeeName}}</option>
        </select>
    </div>
 
</div><br>
<div class="p-field">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="reqDescriptionObj.description" pInputTextarea required rows="5" cols="138"></textarea>
</div><br>
<button class="btn btn-warning" (click)="saveAssignedRequest()">Save</button>
</div>