<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 style="font-size: 25px;">TRACKER SYSTEM</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a class="active" routerLink='AllUsers'>All Users</a><br>
      </li>
      <li>
        <a class="active" routerLink='employee'>All Employees</a><br>
      </li>
      <li>
        <a class="active" routerLink='Organizations'>Organizations</a> <br>
      </li>
      <li>
        <a class="active" routerLink='tabs'>All Projects</a><br>
      </li>
      <li>
        <a class="active" routerLink='ProjectTypes'>Project Type</a><br>
      </li>
      <li>
        <a class="active" routerLink='Category'>Request Category</a><br>
      </li>
      <li>
        <a class="active" routerLink='DisplayAllClients'>Client</a><br>
      </li>
      <li>
        <a class="active" routerLink='Requests'>Requests</a><br>
      </li>
      <li>
        <a class="active" routerLink='DisplayDepartments'>Departments</a><br>
      </li>
      <li>
        <a class="active" routerLink='allClientReqts'>ClientRequests</a><br>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <!-- <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button> -->
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <a class="navbar-brand" href="#">
            <img src="../../assets/images/mostakbal.png" class="rounded-circle" style="width: 70px;position: initial;"
              alt="RIS Image">
          </a>

          <ul class="navbar-nav">







            <li class="nav-item">
              <a class="nav-link"  routerLink='tabs' routerLinkActive="active">
                All Projects </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  routerLink='Organizations' routerLinkActive="active">
                Organizations </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink='DisplayAllClients' routerLinkActive="active">
                All Clients </a>
            </li>
          </ul>
        </div>
        <div><a href="#" class="btn btn-warning" style="font-size: 15px;" (click)="logout()">Logout
          </a>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>


  </div>

</div>