<div class="wrapper">
  <!-- Page Content Side Bar -->
  <nav id="sidebar" *ngIf="role!='Client'">
    <div class="sidebar-header">
      <h3 style="font-size: 25px;">TRACKER SYSTEM</h3>
    </div>

    <ul class="list-unstyled components">
      <li *ngIf="role=='SuperAdmin'||role == 'Admin'">
        <a class="active" routerLink='AllUsers'>All Users</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin'">
        <a class="active" routerLink='employee'>All Employees</a><br>
      </li>
      <!-- <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='tabs'>All
          Projects</a><br>
      </li> -->
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='ProjectTypes'>Project Type</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='DisplayCategories'>Request Category</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='DisplayAllClients'>Client</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM' ||role =='TL'">
        <a class="active" routerLink='AllManagersReq'>Managers Requests</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='DisplayDepartments'>Department</a><br>
      </li>
      <li *ngIf="role=='Client'">
        <a class="active" routerLink='allClientReqts'>ClientRequests</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='organizations'>Lst organizations</a><br>
      </li>
      <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
        <a class="active" routerLink='organization'>organizations</a><br>
      </li>
    </ul>
  </nav>

  <!-- Page Content Nav Bar -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <a class="navbar-brand" href="#">
            <img src="../../assets/images/mostakbal.png" class="rounded-circle" style="width: 70px;position: initial;"
              alt="RIS Image">
          </a>

          <ul class="navbar-nav">

            <li *ngIf="role=='SuperAdmin'||role == 'Admin' ||role== 'PMO'||role =='PM'">
              <a class="active" routerLink='tabs'>All
                Projects</a><br>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active">
                Patient Files </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active">
                Reports </a>
            </li>
          </ul>
        </div>
        <div>
          <span style="font-size: large; margin-right: 20px;color: brown;">{{loggedInUserName}}</span>
          <a href="#" class="btn btn-warning" style="font-size: 15px;" (click)="logout()">Logout
          </a>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>


  </div>

</div>