<div class="container">
  <div class="row">
 <div class="col-md-10"></div>
  <div class="col-md-2">
    <button id="addEmpBtn" routerLink="/home/organization" class="btn btn-outline-primary btn-md btn-block">
        <span class="pi pi-plus" [translate]="'Tracker.Add'">Add</span> </button>
</div> 
  
</div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" style="height: 600px;">
    <agm-marker *ngFor="let m of lstOrganizationMarkers;let i = index; " [latitude]="m.lat" [longitude]="m.lng"
      (mapClick)="placeMarker(m)">
      <agm-info-window style="padding: 5px 5px;">
        <div style="margin: 5px 5px; padding: 5px 5px; font-size: 12pt;">
          <div><span>{{ 'Tracker.OrganizationName' | translate }}:</span> <span
              style="font-weight: bold;">{{m.organizationName}}</span></div>
          <div><span> {{ 'Tracker.ResponsiblePerson' | translate }}:</span><span
              style="font-weight: bold;">{{m.responsiblePerson}}</span></div>
          {{ 'Tracker.Code' | translate }}: <span style="font-weight: bold;">{{m.organizationCode}}</span> <br>
          <div>{{ 'Tracker.Mobile' | translate }}: <span style="font-weight: bold;">{{m.mobile}}</span></div>

          <button class="btn btn-warning" style="float: right;" (click)="updateOrganization(m.id)">{{ 'Tracker.Update' |
            translate }}</button>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>