<!-- <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu> -->
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<div class="card container">
    <h1 [translate]="'Tracker.Add Project'" style="margin-bottom: 20px; font-size: 2em;color: #2674a8;"></h1>

    <!-- Basic Data -->
    <p-tabView styleClass="tabview-custom">

        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-fw pi-home"></i>
                <span style="margin-left: 10px;" [translate]="'Tracker.Project Data'"></span>
            </ng-template>
            <div class="row">
                <div class="p-field col-md-3">
                    <label for="Project Name" class="labelMarginRight" [translate]="'Tracker.Project Name'">
                    </label><br>
                    <input minlength="3" #ProjectName="ngModel" autofocus
                        [placeholder]="'Tracker.Project Name' | translate"
                        [class.is-invalid]="ProjectName.invalid && ProjectName.touched"
                        [class.is-valid]="ProjectName.valid" required minlength="3" type="text"
                        [(ngModel)]="projectObj.projectName" pInputText id="name" required />
                    <br> <small [hidden]="ProjectName.valid || ProjectName.untouched" id="helpId"
                        class="text-muted" [translate]="'Tracker.messege'"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Code" class="labelMarginRight" [translate]="'Tracker.Project Code'"></label><br>
                    <input type="text" #ProCode="ngModel" name="ProjectCode"
                        [placeholder]="'Tracker.Project Code' | translate"
                        [class.is-invalid]="ProCode.invalid && ProCode.touched" [class.is-valid]="ProCode.valid"
                        required minlength="3" [(ngModel)]="projectObj.projectCode" pInputText id="Code" required />
                    <br> <small [hidden]="ProCode.valid || ProCode.untouched" id="helpId" class="text-muted"
                        [translate]="'Tracker.messege'"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Type" class="labelMarginRight"
                        [translate]="'Tracker.Project Type Name'"></label><br>
                    <p-dropdown [options]="lstProjectTypes" [(ngModel)]="projectObj.projectTypeId"
                        [placeholder]="'Tracker.Project Type Name' | translate" optionLabel="typeName" optionValue="id">
                    </p-dropdown>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Cost" class="labelMarginRight" [translate]="'Tracker.Project Cost'">
                    </label><br>
                    <input type="number" autofocus [(ngModel)]="projectObj.cost" pInputText id="Cost" #Procost="ngModel"
                        name="ProjectCost" [class.is-invalid]="Procost.invalid && Procost.touched"
                        [placeholder]="'Tracker.Project Cost' | translate" [class.is-valid]="Procost.valid" required
                        minlength="3" />
                    <br> <small [hidden]="Procost.valid || Procost.untouched" id="helpId" class="text-muted"
                        [translate]="'Tracker.messegeNumber'"></small>
                </div>
                <!-- <div class="p-field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea  required rows="3" cols="20"></textarea>
            </div>       -->
            </div><br>
            <div class="row">

                <div class="p-field col-md-3">
                    <label for="Project Period" class="labelMarginRight" [translate]="'Tracker.Project Period'">
                    </label><br>
                    <input type="number" #ProPeriod="ngModel" name="ProPeriod" autofocus
                        [placeholder]="'Tracker.Project Period' | translate"
                        [class.is-invalid]="ProPeriod.invalid && ProPeriod.touched" [class.is-valid]="ProPeriod.valid"
                        required minlength="3" [(ngModel)]="projectObj.projectPeriod" pInputText id="Period" required />
                    <br> <small [hidden]="ProPeriod.valid || ProPeriod.untouched" id="helpId" class="text-muted"
                        [translate]="'Tracker.messegeNumber'"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Plannded Start Date" class="labelMarginRight"
                        [translate]="'Tracker.Plannded Start Date'"></label><br>
                    <p-calendar [(ngModel)]="projectObj.planndedStartDate" dateFormat="dd/mm/yy"
                        #ProplanndedStartDate="ngModel" name="planndedStartDate"
                        [class.is-invalid]="ProplanndedStartDate.invalid && ProplanndedStartDate.touched"
                        [class.is-valid]="ProplanndedStartDate.valid" required minlength="3"></p-calendar>
                    <br> <small [hidden]="ProplanndedStartDate.valid || ProplanndedStartDate.untouched" id="helpId"
                        class="text-muted" [translate]="'Tracker.messegeDate'"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Actual Start Date" class="labelMarginRight"
                        [translate]="'Tracker.Actual Start Date'"></label><br>
                    <p-calendar [(ngModel)]="projectObj.actualStartDate" dateFormat="dd/mm/yy"
                        #ProActualStartDate="ngModel" name="ProActualStartDate"
                        [class.is-invalid]="ProActualStartDate.invalid && ProActualStartDate.touched"
                        [class.is-valid]="ProActualStartDate.valid" required minlength="3"></p-calendar>
                    <br> <small [hidden]="ProActualStartDate.valid || ProActualStartDate.untouched" id="helpId"
                        class="text-muted" [translate]="'Tracker.messegeDate'"></small>

                </div>
                <div class="p-field col-md-3">
                    <label for="Plannded End Date" class="labelMarginRight"
                        [translate]="'Tracker.Plannded End Date'"></label><br>
                    <p-calendar [(ngModel)]="projectObj.planndedEndDate" dateFormat="dd/mm/yy"
                        #ProplanndedEndDate="ngModel" name="ProplanndedEndDate"
                        [class.is-invalid]="ProplanndedEndDate.invalid && ProplanndedEndDate.touched"
                        [class.is-valid]="ProplanndedEndDate.valid" required minlength="3"></p-calendar>
                    <br> <small [hidden]="ProplanndedEndDate.valid || ProplanndedEndDate.untouched" id="helpId"
                        class="text-muted" [translate]="'Tracker.messegeDate'"></small>

                </div>
            </div> <br>
            <div class="row">
                <div class="p-field col-md-3">
                    <label for="Actual End Date" class="labelMarginRight"
                        [translate]="'Tracker.Actual End Date'"></label><br>
                    <p-calendar [(ngModel)]="projectObj.actualEndDate" dateFormat="dd/mm/yy" #ProactualEndDate="ngModel"
                        name="ProactualEndDate"
                        [class.is-invalid]="ProactualEndDate.invalid && ProactualEndDate.touched"
                        [class.is-valid]="ProactualEndDate.valid" required minlength="3"></p-calendar>
                    <br> <small [hidden]="ProactualEndDate.valid || ProactualEndDate.untouched" id="helpId"
                        class="text-muted" [translate]="'Tracker.messegeDate'"></small>

                </div>
                <div class="p-field col-md-3">
                    <label for="organization Name" class="labelMarginRight"
                        [translate]="'Tracker.Organization Name'"></label><br>
                    <p-dropdown [options]="lstOrganizations" [(ngModel)]="projectObj.organizationId"
                        [placeholder]="'Tracker.Organization Name' | translate" optionLabel="organizationName"
                        optionValue="id">
                    </p-dropdown>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Manager" class="labelMarginRight" [translate]="'Tracker.Project Manager'">
                    </label><br>
                    <p-dropdown [options]="lstEmployees" [(ngModel)]="projectObj.employeeId"
                        [placeholder]="'Tracker.Project Manager' | translate" optionLabel="employeeName"
                        optionValue="id"></p-dropdown>
                </div>
                <div class="p-field col-md-3">
                    <label for="Client Name" class="labelMarginRight" [translate]="'Tracker.Client Name'"></label><br>
                    <p-dropdown [options]="lstClients" [(ngModel)]="projectObj.clientId"
                        [placeholder]="'Tracker.Client Name' | translate" optionLabel="clientName" optionValue="id">
                    </p-dropdown>
                </div>
            </div><br>
            <div class="row">
                <div class="p-field col-md-6">
                    <label for="description" [translate]="'Tracker.Description'"></label><br>
                    <textarea id="description" [(ngModel)]="projectObj.description" pInputTextarea required rows="3"
                        cols="63"></textarea>
                </div>
                <div class="col-md-2" style="margin-top: 7%;margin-left: 28%;"> <button pButton type="button"
                        (click)="AddProject()" icon="pi pi-check" [label]="'Tracker.Submit' | translate"
                        class="p-button-raised "></button>
                </div>
            </div>
        </p-tabPanel>





        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-user-minus"></i>
                <span style="margin-left: 10px;" [translate]="'Tracker.Parteners'"></span>
            </ng-template>

            <div class="row">
                <div class="col for">
                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input #PartnerName="ngModel" class="form-control"
                                [class.is-invalid]="PartnerName.invalid && PartnerName.touched"
                                [class.is-valid]="PartnerName.valid" required minlength="3" type="text" pInputText
                                [placeholder]="'Tracker.Partener Name' | translate"
                                [(ngModel)]="stackholderInLst.stackeholderName">
                        </div>
                        <small [hidden]="PartnerName.valid || PartnerName.untouched" id="helpId" class="text-muted"
                            [translate]="'Tracker.messege'"></small>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"></span>
                            <input #Partenermobile="ngModel" class="form-control"
                                [class.is-invalid]="Partenermobile.invalid && Partenermobile.touched"
                                [class.is-valid]="Partenermobile.valid" required minlength="3" type="number" pInputText
                                [placeholder]="'Tracker.Mobile' | translate" [(ngModel)]="stackholderInLst.mobile">
                            <span class="p-inputgroup-addon"></span>
                        </div>
                        <small [hidden]="Partenermobile.valid || Partenermobile.untouched" id="helpId"
                            class="text-muted" [translate]="'Tracker.messegeNumber'"></small>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"></span>
                            <input #Partenerrank="ngModel" class="form-control"
                                [class.is-invalid]="Partenerrank.invalid && Partenerrank.touched"
                                [class.is-valid]="Partenerrank.valid" required minlength="3" type="text" pInputText
                                [placeholder]="'Tracker.Rank' | translate" [(ngModel)]="stackholderInLst.rank">
                            <span class="p-inputgroup-addon"></span>
                        </div>
                        <small [hidden]="Partenerrank.valid || Partenerrank.untouched" id="helpId" class="text-muted"
                            [translate]="'Tracker.messege'"></small>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div>
                            <textarea pInputTextarea [placeholder]="'Tracker.Description' | translate"
                                style="width: 100%;" [(ngModel)]="stackholderInLst.description"
                                class="row p-col-12 p-md-4"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-info" style="margin-top: 20px;float: right;"
                                (click)="Savetolist_Stackholders()" [translate]="'Tracker.Save To List'"></button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th [translate]="'Tracker.Project Name'"></th>
                                <th [translate]="'Tracker.Mobile'"></th>
                                <!-- <th>Projectcost</th> -->
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let i of lstOfStackholder">
                                <td>
                                    {{i.stackeholderName}}
                                </td>
                                <td>
                                    {{i.mobile}}
                                </td>
                            </tr>
                            <tr>

                            </tr>
                            <tr *ngIf="lstOfStackholder.length == 0">
                                <td colspan="4" style="color: rgb(102, 97, 23);" [translate]="'Tracker.No data found'">
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <button class="btn btn-warning" [disabled]="lstOfStackholder.length == 0"
                        (click)="SaveToDB_Stackholders()" [translate]="'Tracker.Add'"></button>
                </div>
            </div>

        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-user-minus"></i>
                <span style="margin-left: 10px;" [translate]="'Tracker.MileStones'"> </span>
            </ng-template>

            <div class="row">
                <div class="col">
                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input #mileston="ngModel" class="form-control"
                                [class.is-invalid]="mileston.invalid && mileston.touched"
                                [class.is-valid]="mileston.valid" required minlength="3" type="text" pInputText
                                [placeholder]="'Tracker.Title' | translate" [(ngModel)]="milestonInLst.title">
                        </div>
                        <small [hidden]="mileston.valid || mileston.untouched" id="helpId" class="text-muted"
                            [translate]="'Tracker.messege'"></small>
                    </div>
                    <!-- <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">00</span>
                            <input type="text" pInputText placeholder="Mobile" [(ngModel)]="milestonInLst.title">
                            <span class="p-inputgroup-addon">.00</span>
                        </div>
                    </div> -->

                    <div class="row p-col-12 p-md-4">
                        <div class="p-field col-md-6">
                            <label for="StartDate" class="labelMarginRight" [translate]="'Tracker.Start Date'">
                            </label><br>
                            <p-calendar #milestonStartDate="ngModel"
                                [class.is-invalid]="milestonStartDate.invalid && milestonStartDate.touched"
                                [class.is-valid]="milestonStartDate.valid" required minlength="3"
                                [(ngModel)]="milestonInLst.startDate" dateFormat="dd/mm/yy"></p-calendar>
                            <br><small [hidden]="milestonStartDate.valid || milestonStartDate.untouched" id="helpId"
                                class="text-muted" [translate]="'Tracker.messegeDate'"></small>
                        </div>
                        <div class="p-field col-md-6">
                            <label for="End Date" class="labelMarginRight" [translate]="'Tracker.End Date'">
                            </label><br>
                            <p-calendar #milestonendDate="ngModel"
                                [class.is-invalid]="milestonendDate.invalid && milestonendDate.touched"
                                [class.is-valid]="milestonendDate.valid" required minlength="3"
                                [(ngModel)]="milestonInLst.endDate" dateFormat="dd/mm/yy"></p-calendar><br>
                            <small [hidden]="milestonendDate.valid || milestonendDate.untouched" id="helpId"
                                class="text-muted" [translate]="'Tracker.messegeDate'"></small>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-4">
                        <div>
                            <textarea pInputTextarea [placeholder]="'Tracker.Description' | translate"
                                [(ngModel)]="milestonInLst.description" style="width: 100%;"
                                class="row p-col-12 p-md-4"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-info" style="margin-top: 20px;float: right;"
                                (click)="Savetolist_Milestones()" [translate]="'Tracker.Save To List'"></button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th [translate]="'Tracker.Title'"></th>
                                <th [translate]="'Tracker.Start Date'"></th>
                                <th [translate]="'Tracker.End Date'"></th>
                                <th [translate]="'Tracker.Description'"></th>

                                <!-- <th>Projectcost</th> -->
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let i of lstOfMilestones">
                                <td>
                                    {{i.title}}
                                </td>
                                <td>
                                    {{i.startDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{i.endDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{i.description}}
                                </td>
                            </tr>
                            <tr>

                            </tr>
                            <tr *ngIf="lstOfMilestones.length == 0">
                                <td colspan="4" style="color: rgb(102, 97, 23);" [translate]="'Tracker.No data found'">.
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <button class="btn btn-warning" [disabled]="lstOfMilestones.length == 0"
                        (click)="SaveToDB_Milestones()" [translate]="'Tracker.Add'"></button>
                </div>
            </div>
        </p-tabPanel>




        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-users"></i>
                <span style="margin-left: 10px;" [translate]="'Tracker.Teams'"></span>
            </ng-template>

            <div class="row">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input #teamname2="ngModel" [class.is-invalid]="teamname2.invalid && teamname2.touched"
                            [class.is-valid]="teamname2.valid" required minlength="3" type="text" class="form-control"
                            pInputText [placeholder]="'Tracker.Team Name' | translate" [(ngModel)]="team.Name">
                    </div>
                    <small [hidden]="teamname2.valid || teamname2.untouched" id="helpId" class="text-muted"
                        [translate]="'Tracker.messege'"></small>
                </div>
                <div class="col">
                    <div class="col">
                        <label class="labelstyle" [translate]="'Tracker.Position Name'"></label>
                        <select [(ngModel)]="ProjectTeam.projectPositionId" name="id" class="form-control">emp
                            <option hidden [value]="" selected>select Position Name </option>
                            <option *ngFor="let the of lstOfprojectPosition" value="{{the.id}}">{{the.positionName}}
                            </option>
                        </select>
                    </div>

                    <div class="col">
                        <label class="labelstyle" [translate]="'Tracker.Employee Name'"></label>
                        <select [(ngModel)]="ProjectTeam.employeeId" name="sel2" class="form-control"
                            (change)="OnChangeEmpID($event)">
                            <option *ngFor="let th of lstEmployees" value="{{th.id}}">{{th.employeeName}}</option>
                        </select>
                    </div>

                    <div class="col">
                        <label class="labelstyle" [translate]="'Tracker.Department Name'"></label>
                        <select [(ngModel)]="ProjectTeam.departmentId" name="sub" class="form-control">
                            <option value="{{department.id}}">{{department.name}}</option>
                        </select>
                    </div>

                    <div class="p-col-12 p-md-4">

                        <div>
                            <button class="btn btn-info" style="margin-top: 20px;float: right;"
                                (click)="Savetolist_Teams()" [translate]="'Tracker.Save To List'"></button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>{{ 'Tracker.Team Name' | translate }} : {{teamname}}</tr>
                            <tr>
                                <th [translate]="'Tracker.Position Name'"></th>
                                <th [translate]="'Tracker.Employee Name'"></th>
                                <th [translate]="'Tracker.Department Name'"></th>
                                <!-- <th>Projectcost</th> -->
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let i of lstOfProjectTeams">
                                <td>
                                    {{i.projectPositionName}}
                                </td>
                                <td>
                                    {{i.employeeName}}
                                </td>
                                <td>
                                    {{i.departmentName}}
                                </td>
                            </tr>

                            <tr *ngIf="lstOfProjectTeams.length == 0">
                                <td colspan="4" style="color: rgb(102, 97, 23);" [translate]="'Tracker.No data found'">.
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <button class="btn btn-warning" [disabled]="lstOfProjectTeams.length == 0"
                        (click)="SaveToDB_ProjectTeams()" [translate]="'Tracker.Add'"></button>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-file"></i>
                <span style="margin-left: 10px;" [translate]="'Tracker.Documents'"></span>
                <!-- <i class="pi pi-cog"></i> -->
            </ng-template>
            <div class="row">
                <div class="col">
                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input #DocName="ngModel" class="form-control"
                                [class.is-invalid]="DocName.invalid && DocName.touched" [class.is-valid]="DocName.valid"
                                required minlength="3" type="text" pInputText
                                [placeholder]="'Tracker.Document Name' | translate"
                                [(ngModel)]="docproject.documentName">
                        </div>
                        <small [hidden]="DocName.valid || DocName.untouched" id="helpId" class="text-muted"
                            [translate]="'Tracker.messege'"></small>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div>
                            <textarea pInputTextarea [placeholder]="'Tracker.Description' | translate"
                                style="width: 100%;" [(ngModel)]="docproject.Description"
                                class="row p-col-12 p-md-4"></textarea>
                        </div>
                        <br />
                        <br />
                        <div class="p-field col-md-3" style="margin-bottom:15px;">
                            <div class="col-md-3">
                                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                                    style="display:none;">
                                <button type="button" class="btn btn-success" (click)="file.click()"
                                    [translate]="'Tracker.Upload'">
                                    </button>
                            </div>
                            <div class="col-md-4">

                                <span class="upload" *ngIf="message">

                                    {{message}}
                                </span>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-info" style="margin-top: 20px;float: right;"
                                (click)="Savedoctolist()" [translate]="'Tracker.Save To List'"
                                ></button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th [translate]="'Tracker.Document Name'"></th>
                                <th [translate]="'Tracker.Description'"></th>
                                <th [translate]="'Tracker.File Name'"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let i of lstoddocproj">

                                <td>{{i.documentName}}</td>
                                <td>{{i.Description}}</td>
                                <td>{{i.documentFile}}</td>
                            </tr>
                            <tr>

                            </tr>
                            <tr *ngIf="lstoddocproj.length == 0">
                                <td colspan="4" style="color: rgb(102, 97, 23);" [translate]="'Tracker.No data found'">.</td>
                            </tr>
                        </tbody>

                    </table>

                    <button class="btn btn-warning" [disabled]="lstoddocproj.length == 0"
                        (click)="SaveDocuentToDB()" [translate]="'Tracker.Add'"></button>
                </div>
            </div>

        </p-tabPanel>
    </p-tabView>

</div>