<!-- Show all   Requests that belongs to specific client -->
<p-table [value]="lstRequests">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
           <span class="h3Header">Client Requests</span><span style="color: brown;">({{clientName}})</span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>RequestName</th>
            <th>projectName</th>
            <th>requestTime</th>
            <th>Description</th> 
            <th>RequestPeriority</th>
            <th>RequestStatus</th>
            <th>RequestType</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
        <tr>
            <td>{{request.requestName}}</td>
            <td>{{request.projectName}}</td>
            <td>{{request.requestTypeName}}</td>
            <td>{{request.requestTime}}</td>
            <td>{{request.requestPeriority}}</td>
            <td>{{request.requestStatus}}</td>
            <td>{{request.description}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{lstRequests ? lstRequests.length : 0 }} Requests.
        </div>
    </ng-template>
</p-table>
