<div style="margin-left: 25px;">
    <h3 style="color: rgb(40, 40, 117);margin-left: 50px;"> {{ 'Tracker.Create Requests' | translate }} </h3>
    <br>
    <br>

    <div class="row">
        <div class="p-field col-md-3">
            <label for="Project Name" class="labelMarginRight"> {{ 'Tracker.Request Name' | translate }}<span style="color: red;">*</span>   </label><br>
           
            <input id="name" name="name" class="form-control"
            required minlength="4"  placeholder="Enter Request Name"
            [(ngModel)]="reqObj.requestName" #name="ngModel" >
      
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
      
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
        
        </div>

        <div class="p-field col-md-3">
            <label for="Project Type" class="labelMarginRight">{{ 'Tracker.Project Name' | translate }}<span style="color: red;">*</span></label><br>
            <p-dropdown [options]="lstProjects" [(ngModel)]="reqObj.projectId" [placeholder]="'Tracker.Select Project Name' | translate"
                optionLabel="projectName" optionValue="id" (onChange)="onChange($event)">
            </p-dropdown>
           
        </div>
        <div class="p-field col-md-3">
            <label for="requestType" class="labelMarginRight">{{ 'Tracker.Request Type' | translate }}<span style="color: red;">*</span> </label><br>

            <p-dropdown [options]="lstProjectTeams" [(ngModel)]="reqObj.teamId" [placeholder]="'Tracker.Select Request Type' | translate"
                optionLabel="teamName" optionValue="teamId" (onChange)="GetProjectTeamId($event)">
            </p-dropdown>
        </div>
        <div class="p-field col-md-3">
            <label for="Project Type" class="labelMarginRight">{{ 'Tracker.Request Sub Category' | translate }}<span style="color: red;">*</span>  </label><br>
            <p-dropdown [options]="lstReqSubCategories" [(ngModel)]="reqObj.requestSubCategoryId"
                [placeholder]="'Tracker.Select Sub Category' |translate" optionLabel="subCategoryName" optionValue="id">
            </p-dropdown>
        </div>
    </div>
    <div class="row">
    </div> <br>
    <div class="row">


        <div class="p-field col-md-3">
            <label for="Project Type" class="labelMarginRight">{{ 'Tracker.Request Periority' | translate }}<span style="color: red;">*</span></label><br>
            <p-dropdown [options]="lstReqPeriorities" [(ngModel)]="reqObj.requestPeriorityId"
                [placeholder]="'Tracker.Select Request Periority' |translate" optionLabel="periorty" optionValue="id">
            </p-dropdown>
        </div>

        <!-- <div class="p-field col-md-3">
            <label for="Project Type" class="labelMarginRight">Request Mode</label><br>
            <p-dropdown [options]="lstRequestMode" [(ngModel)]="reqObj.requestModeId" placeholder="Select Request Mode"
                optionLabel="name" optionValue="id">
            </p-dropdown>
        </div> -->
        <div class="p-field col-md-3">
            <label for="Project Type" class="labelMarginRight">{{ 'Tracker.Request Asset' | translate }}<span style="color: red;">*</span></label><br>
            <p-dropdown [options]="lstReqAssets" [(ngModel)]="reqObj.assetId" [placeholder]="'Tracker.Select Request Asset' | translate "
                optionLabel="assetName" optionValue="id">
            </p-dropdown>
        </div>
        <div class="row">
            <div class="p-field col-md-3">
                <label for="description">{{ 'Tracker.Description' | translate }}</label><br>
                <textarea id="description" [(ngModel)]="reqObj.description" pInputTextarea required rows="3"
                    cols="68"></textarea>
            </div>
         
        </div>
    </div><br>
    <div class="row">

        <button class="col-md-3" pButton type="button" style="height: 40px; margin-top: 50px; "
        (click)="AddRequest()" icon="pi pi-check"  class="p-button-raised ">{{ 'Tracker.Submit' | translate }}</button>
        <div class="col-md-3" hidden>
            <label for="Request Date" class="labelMarginRight">{{ 'Tracker.Request Date' | translate }}</label><br>
            <p-calendar [(ngModel)]="reqObj.requestDate" dateFormat="dd/mm/yy"></p-calendar>
            <small class="p-invalid"></small>
        </div>
        <div class="col-md-3" hidden>
            <label for="Request Date" class="labelMarginRight">{{ 'Tracker.Request Time' | translate }}</label><br>

            <p-calendar [(ngModel)]="reqObj.requestTime" [timeOnly]="true" inputId="timeonly"></p-calendar>
        </div>



    </div>
</div>
<br />
<hr style="width:100%;text-align:left;margin-left:0">
<br />
<br />

<div class="p-field col-md-9">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">{{ 'Tracker.Upload Request Images' | translate }}</button>

</div>

<br />
<br />
<div class="p-field col-md-9">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Tracker.Request Image Name' | translate }}</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let i of lstRequestImages">

                    <td>{{i.imageName}}</td>

                </tr>
                <tr>

                </tr>
                <tr *ngIf="lstRequestImages.length == 0">
                    <td colspan="4" style="color: rgb(102, 97, 23);">{{ 'Tracker.No images found' | translate }}</td>
                </tr>
            </tbody>

        </table>

        <button class="btn btn-warning" [disabled]="lstRequestImages.length == 0" (click)="SaveimageToDB()">
            {{ 'Tracker.Add List' | translate }}
            </button>
    </div>
</div>