
      
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="ProjectType Name" [(ngModel)]="ProjectTypeObj.typeName">
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <button class="btn btn-info" style="margin-top: 20px;float: right;" (click)="Add()">
                        Save</button>
                </div>
                
            
    